<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	

<servlet>
		<servlet-name>PromotServlet</servlet-name>
		<!-- 哪个包下的哪个类 路径 -->
		<servlet-class>servlet.PromotServlet</servlet-class>

	</servlet>
	<servlet-mapping>

		<servlet-name>PromotServlet
		</servlet-name>
		<url-pattern>/promot</url-pattern>

	</servlet-mapping>
	
	<servlet>
		<servlet-name>CityServlet</servlet-name>
		<!-- 哪个包下的哪个类 路径 -->
		<servlet-class>servlet.CityServlet</servlet-class>

	</servlet>
	<servlet-mapping>

		<servlet-name>CityServlet
		</servlet-name>
		<url-pattern>/city</url-pattern>

	</servlet-mapping>
	<servlet>
		<servlet-name>CityServlet1</servlet-name>
		<!-- 哪个包下的哪个类 路径 -->
		<servlet-class>servlet.CityServlet1</servlet-class>

	</servlet>
	<servlet-mapping>

		<servlet-name>CityServlet1
		</servlet-name>
		<url-pattern>/city1</url-pattern>

	</servlet-mapping>

</web-app>